<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comente em ForumCIN</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/interface.css">
</head>
<body>
    <div id="mainInterface"></div>
    <h1 id="postMessage">Comentário!!</h1>
    <form id="theText" method="post" autocomplete="off">
        <br><br><br>
        <textarea maxlength="2000" name="textInformation" class="textBar" id="text101" rows="8" cols="60" placeholder="Ramble here!"></textarea>
        <br>
        <input type="submit" value="Comment!" name="submitButton" id="submit101">
        
    </form>
    <script src="/renderInterface.js"></script>
    <script src="/commenting_logic.js"></script>
</body>
</html>