<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <div id="interfaceBotoes">
        <a style="padding-left: 10px;" href="/"><img src="logos/logo_do_bagui.png" id="logoButao" alt="logoButao"></a>
        <div class="botoes">
            <a class="botoes" href="/submissions">Feedback</a>
            <a class="botoes" href="/link">Regras</a>
        </div>
    </div>
    <i id="displayUser"></i>
    <script src="renderInterface.js"></script>
</body>
</html>