<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submissions</title>
    <link rel="stylesheet" href="style/mainpage.css">
    <link rel="stylesheet" href="style/interface.css">
</head>
<body>
    <div id="mainInterface"></div>
    <br><br>
    <h1>Submissions!</h1>
    <div id="contentSegment">
        <a href="/create-post" id="href_create_post">
            <input type="button" value="Crie seu post :)" id="create_post_button">
        </a>
        <div id="containerPosts">
            <div id="topicsSection">Topics</div><br>
            <div id="rightClickMenuInstance" class="rightClickMenuDiv">
                <a href="/" id="deletePostRef">
                    Delete Post
                </a>
            </div>
        </div>
    </div>
    <script src="/scripts/deletePost.js"></script>
    <script src="/scripts/renderSubmissions.js"></script>
    <script src="/scripts/renderInterface.js"></script>
</body>
</html>