<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/interface.css">
</head>
<body>
    <div id="mainInterface"></div>
    <form action="/" id="sign_in_form">
        <input type="text" id="email02" name="email" placeholder="email">
        <input type="password" id="password02" name="password" placeholder="password">
        <input type="submit" id="signupbutton02">
    </form>
    <script type="module" src="renderInterface.js"></script>
    <script type="module" src="signed_in.js"></script>
</body>
</html> 