<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/interface.css">
</head>
<body>
    <div id="mainInterface"></div>
    <form action="/" id="sign_up_form">
        <input type="text" id="username01" placeholder="username">
        <input type="text" id="email01" placeholder="email">
        <input type="password" id="password01" placeholder="password">
        <input type="submit" id="signupbutton01">
    </form>
    <script src="renderInterface.js"></script>
    <script src="sign_up.js"></script>
</body>
</html> 