<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submissions</title>
    <style>
        .titulo {
            border: 1px solid black;
            border-radius: 5px;
            display: inline-flex;
            padding: 3px 5px;
            width: 1200px;
            flex-direction: column;
        }
        .titulo:hover {
            background-color: red;
            cursor:pointer;
        }
    </style>
</head>
<body>
    <br><br>
    <script src="./submissions_script.js"></script>
</body>
</html>