#interfaceBotoes {
    border: 1px solid fuchsia;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #211431 !important;
}
#displayUser {
    font-size: larger;
}
#logoButao {
    padding-left: 10px;
}
#logoButao, .botoes {
    display: flex;
}
#signup > input, #signin > input {
    width: 90px;
    height: 40px;
    border-radius: 20px;
    background-color: cyan;
}
#signup > input:hover, #signin > input:hover {
    background-color: #211431;
}
#signup {
    padding-right: 20px;
}
#signin {
    padding-right: 20px;
}
#signin, #signup {
    text-decoration: none;
    color: gray;
}
.botoes {
    display: flex;
    margin-right: 20px;
    font-size: large;
    font-family: sans-serif !important;
}

.botoes {
    text-decoration: none;
    color: gray;
}
.botoes:hover {
    color: white;
}