.title {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-flex;
    padding: 3px 5px;
    width:fit-content;
    flex-direction: column;
}
.title:hover {
    background-color: red;
    cursor:pointer;
}
h1 {
    text-align: center;
}
#deleteButton {
    color: red;
}
#containerPosts {
    display: flex;
    flex-direction: column;
    
    border: 1px solid white;
    height: 80%;
    width: 60%;
    position: relative;
    left: 400px;
}
.titleDiv > a {
    text-decoration: none;
    color: chartreuse;
    padding-left: 20px;
}
.rightClickMenuDiv {
    display: none;
    height: 25px;
    width: 110px;
    text-align: center;
    position: fixed;
    border: #333333;
    background-color: #333333;
    border-radius: 20px;
}
.rightClickMenuDiv > a {
    text-decoration: none;
    color: antiquewhite;
}

#containerPosts > #topicsSection {
    border: 1px solid yellow;
    height: 50px;
    color: blueviolet;
    padding-top: 20px;
    padding-left: 20px;
}
#contentSegment {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 400px;
}
#contentSegment > a {
    width: fit-content;
    position: relative;
    left: 300px;
    margin-bottom: 20px;
}
#create_post_button {
    align-items: center;
    border-radius: 20px;
    height: 40px;
    width: 130px;
    background-color: slateblue;
}
.icecold {
    color: antiquewhite;
}


#deletePostRef {
    color: whitesmoke;
}