.title {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-flex;
    padding: 3px 5px;
    width:fit-content;
    flex-direction: column;
}
.title:hover {
    background-color: red;
    cursor:pointer;
}
h1 {
    text-align: center;
}
#deleteButton {
    color: red;
}
#containerPosts {
    display: flex;
    flex-direction: column;
    
    border: 1px solid white;
    height: 80%;
    width: 60%;
    position: relative;
    left: 400px;
}
.titleDiv > a {
    text-decoration: none;
    color: chartreuse;
    padding-left: 20px;
}
#rightClickMenuInstance {
    display: none;
}
.rightClickMenu {
    height: max-content;
    width: max-content;
    border: #333333;
    background-color: #333333;
    border-radius: 30px
}
.rightClickMenu > a {
    display: none;
    text-decoration: none;
    color: antiquewhite;
}

#containerPosts > #topicsSection {
    border: 1px solid yellow;
    height: 50px;
    color: blueviolet;
    padding-top: 20px;
    padding-left: 20px;
}

#contentSegment > #href_create_post {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-decoration: none;
    right: 200px;
}

#create_post_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 20px;
    height: 40px;
    width: 130px;
    background-color: slateblue;
}
#create_post_button:hover {
    background-color: blue;
}
.icecold {
    color: antiquewhite;
}