#postContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    left: 200px;
    width: 1500px;
    border: 4px solid blue;
}
#postContainer > h3 {
    color: whitesmoke;
    text-align: center;
}
#postContainer > p {
    padding-left: 20px;
    padding-right: 20px;
    color: whitesmoke;
    text-overflow: ellipsis;
    
}
#post_user_information {
    color: antiquewhite;
    text-align: end;
    padding-right: 4px;
}