#postContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    left: 300px;
    width: 1500px;
    border: 4px solid blue;
    height:max-content;
}
#postContainer > h3 {
    color: whitesmoke;
    text-align: center;
}
#postContainer > p {
    padding-left: 20px;
    padding-right: 20px;
    color: whitesmoke;
    text-overflow: ellipsis;
    
}