#containerdocarai {
    display: flex;
    flex-direction: column;
    gap: 80px;
}
#postContainer, .commentContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    left: 200px;
    width: 1500px;
    border: 4px solid blue;
}
#postContainer > h3 {
    color: whitesmoke;
    text-align: center;
}
#postContainer, .commentContainer > p {
    padding-left: 20px;
    padding-right: 20px;
    color: whitesmoke;
    
}
.post_user_information {
    color: antiquewhite;
    text-align: end;
    padding-right: 4px;
}

#commentButton {
    display: flex;
    align-items: center;
    position: relative;
    left: 800px;
    margin-bottom: 50px;
    text-decoration: none;
}
#commentButtonElement {
    
    border-radius: 10px;
    height: 50px;
}