body, html {
    background-color: black;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.textBar {
    background-color: black;
}


h1 {
    color: brown;
    width: 300px;
}
.text {
    color:yellow;
}
#title101, #text101 {
    border-radius: 10px;
    resize: none;
    width: 800px;
    vertical-align: text-bottom;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
}
form {
    margin-top: 50px;
    display: flex;
    align-items:center;
    flex-direction: column;
    gap: 30px;
    margin-left: 20px;
}

#postMessage {
    position: relative;
    left: 670px;
}

#submit101 {
    border-radius: 3cap;
    width: 60px;
    height: 60px;
}