body, html {
    background-color: black;
    height: 100%;
    width: 100%;
}
#logoButao, .botoes {
    display: flex;
}
.botoes {
    display: flex;
    margin-right: 20px;
    font-size: large;
    font-family: sans-serif !important;
}
.textBar {
    background-color: black;
}
#interfaceBotoes {
    border: 1px solid fuchsia;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #211431 !important;
}
.botoes {
    text-decoration: none;
    color: gray;
}
.botoes:hover {
    color: white;
}
h1 {
    color: brown;
}
.text {
    color:yellow;
}
#title101, #text101 {
    border-radius: 10px;
    resize: none;
    width: 800px;
    vertical-align: text-bottom;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
}
form {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

#postMessage {
    position: relative;
    left: 670px;
}

#submit101 {
    border-radius: 3cap;
    width: 60px;
    height: 60px;
}