<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schizo Rambling</title>
</head>
<body>
    <h1>Welcome to the Schizo Rambling Blog!</h1>
    In this blog, you can post about anything!
    <h2 id="timezoneId"></h2>
    <form id="theText"action="/textSubmitted" method="post">
        </h1>
        <textarea name="textInformation" id="100" cols="200" rows="50"></textarea>
        <br>
        <input type="submit" placehder="Submit" name="submitButton" id="101">
    </form>
    <script src="teste.js"></script>
</body>
</html>